<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="plumrocket_outofstock_manage_stock_alerts" xsi:type="string">Plumrocket\OutOfStock\Model\ResourceModel\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Plumrocket\OutOfStock\Model\ResourceModel\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">plumrocket_outofstock_alerts</argument>
            <argument name="resourceModel" xsi:type="string">Plumrocket\OutOfStock\Model\ResourceModel\DataOutStock</argument>
        </arguments>
    </virtualType>
</config>