<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Relieve_OutOfStock::main"
             title="Relieve"
             module="Relieve_OutOfStock"
             sortOrder="10"
             resource="Relieve_OutOfStock::outofstock"/>

        <add id="Relieve_OutOfStock::main_structure"
             title="Out Of Stock"
             module="Relieve_OutOfStock"
             sortOrder="20"
             parent="Relieve_OutOfStock::main"
             resource="Relieve_OutOfStock::outofstock"/>

        <add id="Relieve_OutOfStock::uigrid"
             title="Manage Stock Alerts "
             translate="title"
             module="Relieve_OutOfStock"
             sortOrder="20"
             dependsOnModule="Relieve_OutOfStock"
             parent="Relieve_OutOfStock::main_structure"
             action="outofstock/index/"
             resource="Relieve_OutOfStock::outofstock"/>

        <add id="Relieve_OutOfStock::configuration"
             title="Configuration"
             module="Relieve_OutOfStock"
             sortOrder="60"
             parent="Relieve_OutOfStock::main_structure"
             action="adminhtml/system_config/edit/section/outofstock"
             resource="Relieve_OutOfStock::outofstock"/>

    </menu>
</config>